<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('navbar') %>

    <h1>Start up ideas - From Uni to Career</h1>
    <h3>A Student drevin blog/space to share a REAL startup ideas, 
        REAL experiences and REAL begininnigs .
    </h3>
    <h4>Platform Goals</h4>
    <ul>
        <li>Inspire students to share startup ideas and creative thinking</li>
        <li>connect university life with real-world career experiences</li>
        <li>create a supportive space for learning and growth</li>
    </ul>
    <h4>What you'll find here</h4>
    <ul>
    <li>startup ideas shared by students/entrepenures</li>
    <li>university and internship experiences</li>
    <li>career tips and early professional jorneys</li>
    </ul>
</body>
</html>