<link rel="stylesheet" href="/css/styles.css">

<nav class="navbar">
  <a href="/" class="logo">NextStep Blog</a>
  <div class="nav-links">

    <!-- everyone -->
    <a href="/">Home</a>
    <a href="/aboutus">About</a>

    <% if (user){ %>
      <!-- logged in -->
      <a href="/posts">Posts</a>
      <a href="/posts/new">Create Post</a>

      <span class="nav-user">
        Hi <%= user.username %>
      </span>
      <a href="/auth/sign-out" class="nav-btn">Logout</a>
    <% } else { %>
      <!-- logged out -->
      <a href="/auth/sign-in">Login</a>
      <a href="/auth/sign-up" class="nav-btn">Sign up</a>
    <%} %>
  </div>
</nav>
