<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../navbar') %>
    <h1>Creat post</h1>
    <form action="/posts" method="post">
        <label for="">Your Post Title:</label>
        <input id="postTitle" name="postTitle"  type="text">
        <br>
        <label for="">content:</label>
        <input name="city" type="text">

        <button>Submit</button>
    </form>
</body>
</html>