<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Edit Post</h1>
    <form action="/posts/<%= post._id %>/edit" method="POST">
        <label>Title</label>
        <input 
        type="text" 
        name="postTitle"
        value="<%=post.postTitle %>"
        />
        <br>
        <label>Content</label>
        <textarea name="content"><%= post.content %></textarea>
        <button>Update</button>
        <br>
 <a href="/posts/">Go back to all posts</a>
</form>

</body>
</html>