<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../navbar') %>
    <h1>Post Details</h1>
    <p>Title: <%= Post.postTitle %></p>
    <p>content: <%= Post.content %></p>
    <p>auther: <%= Post.auther %></p>

    <a href="/">Go back to all posts</a>
</body>
</html>